.exercises {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    padding-top: 20px;
}

.exercise-thumbnail {
    text-align: center;
    justify-content: center;
}

.exercise-thumbnail img {
    width: 70%;
    height: auto;
}

.exercise-end-button {
    position: fixed;
    font-size: 8vw;
    font-weight: bold;
    bottom: 2%;
    right: 5%;
    padding: 0 6vw;
}
