body {
    background-color: #1f2428 !important;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 8vh;
    font-size: 8vw;
    background-color: #f5c000;
}

.main-content {
    min-height: 85vh;
    color: white;
    font-size: 5vw;
}
