{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link href={% static 'css/detailed.css' %} rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="detailed">
        <h2 class="detailed-title">{{ exercise.name }}</h2>
        <div class="detailed-max">
            <h3>Besta:</h3>
            <h3>{{ pb.repitions }}x{{ pb.weight }}kg</h3>
        </div>
        <div class="detailed-session">
            <div class="detailed-session-last">
                <p>Síðast:</p>
                {% for set in last_set %}
                    <p>{{ set.repitions }} x {{ set.weight }} kg</p>
                {% endfor %}
            </div>
            <div class="detailed-session-curr">
                <p>Núna:</p>
                {% for set in curr_set %}
                    <p>{{ set.repitions }} x {{ set.weight }} kg</p>
                {% endfor %}
            </div>
        </div>
            <a href="{% url 'exercises' %}"><button name="submit" class="gummi-button detailed-button detailed-button-1">Hætta</button></a>
        <button type="button" class="gummi-button detailed-button detailed-button-2" data-bs-toggle="modal" data-bs-target="#exampleModal"> Bid on product </button>
        <!-- Modal -->
        {% include 'gymbo/detailed_modal.html' %}
    </div>
{% endblock %}
