<!-- Modal -->
<form method="post">
    <div class=" modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content detailed-modal">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Bid on {{ item.name }}</h5>
                    <button type="button" class="btn-close btn-outline-light btn-dark" data-bs-dismiss="modal" aria-label="Close">X</button>
                </div>
                <div class="modal-body">
                    <p>Current highest offer: {{ highest_bid }}</p>
                        {% csrf_token %}
                        {{ form }}
                        <label>kr</label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn  btn-outline-light" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn  btn-outline-light">Save bid</button>
                </div>
            </div>
        </div>
    </div>
</form>
